<!DOCTYPE html>

    <script  src = "/Scripts/cs4Info.js"> </script>
    <script  src = "/Scripts/cs4Menu.js"> </script>
    <link rel='stylesheet'  href='/stylesheets/cs4Info.css'>
    <link rel='stylesheet'  href='/stylesheets/cs4Menu.css'>
<script>

    var Test =    "<%=Test%>" ;

</script>

<html>

<head>
    <title>CS4 Info</title>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
</head>

<body class="body">

    <h1>CS4 System Info</h1>
    <script>
        <%-"var startup = "+JSON.stringify(startup)%>
        <%-"var countStartup = "+JSON.stringify(countStartup)%>
        <%-"var countLog = "+JSON.stringify(countLog)%>
        <%-"var countCue = "+JSON.stringify(countCue)%>
        <%-"var curTime = "+JSON.stringify(curTime)%>
        <%-"var timeZone = "+JSON.stringify(timeZone)%>
    </script>

    <header class="mainheader">
        <div id="menubutton">
            <button id = "buttonMenu"  onmousedown = "buttonMenu()">=</button>
        </div>
        <nav id = "menunav">
            <ul>
                <li><a href="/cs4Home">Home</a></li>
                <li><a href="cs4VerticalScroll" >Scrolling</a></li>
                <li class="active"><a href="cs4Info" >Info</a></li>
                <li><a href="cs4Timing">Timing</a></li>
                <li><a href="cs4Settings">Settings</a></li>
                <li><a href="/images/CS4Help.pdf" target="_blank">Help</a></li>
            </ul>
        </nav>
    </header>

    <div id="websocketlog" class="log">
        <h4> Waiting for connection...</h4>
    </div>
    <div id = "test">

    </div>



    <div id = "maindiv">

        <div id="titles">

        </div>
        <pre>
            <div id = "startup" class = "infostart">

            </div>
        </pre>
        <div id = "uptime" class = "info">

        </div>

        <div id = "countstartup" class = "info">

        </div>

        <div id="countcue" class = "info">


        </div>

        <div id="countlog" class = "info">


        </div>

    </div>

    <div id = control>


    </div>



    <div class="tz">
        <div id = "timezone">

        </div>

        <select id='timeZoneCombo'  onchange='timeZoneChange();'>
            <option value='-1' title='-select one-'>-Select to Change Time Zone of CS4-</option>
            <option value='US/Eastern' title='US/Eastern'>US/Eastern</option>
            <option value='US/Central' title='US/Central'>US/Central</option>
            <option value='US/Mountain' title='US/Mountain'>US/Mountain</option>
            <option value='US/Pacific' title='US/Pacific'>US/Pacific</option>
            <option value='GMT' title='GMT'>GMT</option>
        </select>
    </div>



<!--
    <footer class ="mainfooter">
        <p>            Wiz Computing 2013        </p>
    </footer>
-->

</body>
</html>