extends layout

block content
  h1= title
  div.myDiv(id="output")
  div

      -for(var prop in item[item.length-1]){
      div
       =prop
       |:
       =item[item.length-1][prop]

               canvas(id=prop,height="75",width=item.length+50,style="border:1px solid #000000;")
               canvas(id=prop+"_rt",height="75",width=100)

           -}
      button(onclick = "buttonclick()") Todd Made this form Me!

  style.
    .myDiv { height: 150px;overflow: scroll; float: right; }
  script(src="/Scripts/data.js")
  script.
      var dp = !{JSON.stringify(item)};
      window.addEventListener("load", init, false);