doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/twi.css')
        script(src="/Scripts/data.js")
    body

    block content

      h1= title
      div.myDiv(id="output")
      div
          -for(var position = 0; position<Object.keys(sensors).length -1 ;position++){

          -for(var prop in sensors){if (sensors[prop].order == position){break;    }      }

           div(id="position"+position data-sensor=prop data-position=position class="graphfadeformove")

              div(id="r" style="width:200px; float:left;")
                  div(id=prop+"_name" style="width:200px;" contenteditable='true' onblur='savesensorname()' data-sensor=prop data-name=sensors[prop].name data-position=position onkeydown='if (event.keyCode == 13) return false')
                        =sensors[prop].name
                  div(style="width:200px;")
                        ="Current Temperature:"+item[item.length-1][prop]
                  button(id="moveButton"+position data-id="position"+position) Move Up
                  button(id="moveButtonDown"+position data-id="position"+position) Move Down
              div
                  canvas(id=prop,height="150",width=item.length+50,style="border:1px solid #000000;")
                  canvas(id=prop+"_rt",height="150",width=200,style="border:1px solid #000000;")
           -}
          button(onclick = "buttonclick()") Todd Made this form Me!

      style.
        .myDiv { height: 40px }

      script.
          var dp = !{JSON.stringify(item)};
          var sensors = !{JSON.stringify(sensors)};
          addEventListeners();
          window.addEventListener("load", init, false);
