extends layout

block content
  script(src="/Scripts/data.js")
  h1= title
  div.myDiv(id="output")
  div

      -for(var prop in item[item.length-1]){
       -var displayname = prop;
       -for (var i = 0; i<settings.length; ++i){if(settings[i].sensor == prop){displayname=settings[i].name;break;}  }
       div
           div(id=prop+"_name" data-sensor=prop data-name=displayname )

               p

                =displayname
                 |:

                 =item[item.length-1][prop]
               script.
                var temp = document.getElementById("!{prop+"_name"}");
                temp.addEventListener("click",nameclick,false);
           div
               canvas(id=prop,height="75",width=item.length+50,style="border:1px solid #000000;")
               canvas(id=prop+"_rt",height="75",width=100,style="border:1px solid #000000;")

               -}
      button(onclick = "buttonclick()") Todd Made this form Me!

  style.
    .myDiv { height: 150px;overflow: scroll; float: right; }

  script.
      var dp = !{JSON.stringify(item)};
      window.addEventListener("load", init, false);
