doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/twi.css')
        script(src="/Scripts/data.js")
    body

    block content

      h1= title

      -for (var i = 0; i < 1; i++){
      div(width = "100%")

          canvas(id="graph"+i,height="400",style="border:1px solid #000000;")
      div(width = "80%",id="graphsettings"+i,height="5px",style="border:1px solid #000000;")
        input(type="range",min=-20,max=120)
        |Graph settings
        input(type="color")
        select(id="selectedtemp"+i)
         -for(var prop in sensors)
            option #{sensors[prop].name}


      -}

      div.websocketInfo(id="output")
      script.
          var dp = !{JSON.stringify(item)};
          var sensors = !{JSON.stringify(sensors)};
          window.addEventListener("load", bigGraphInit, false);

          window.addEventListener("resize",resize,false);
